@model WebApplication008.Models.ProfesorModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ProfesorModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_materia_docente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_materia_docente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_materia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_materia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_usuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
